#-----------------------------------------------------------------------------------------------------------------------
# Dev
#-----------------------------------------------------------------------------------------------------------------------
# API token for downloading gated models from Hugging Face
HF_TOKEN=

#-----------------------------------------------------------------------------------------------------------------------
# Dev
#-----------------------------------------------------------------------------------------------------------------------
VLLM_VERSION=vllm/vllm-openai:v0.15.1
GRAFANA_VERSION=grafana/grafana-oss:12.4.2
PROMETHEUS_VERSION=prom/prometheus:v3.10.0
