#-----------------------------------------------------------------------------------------------------------------------
# Prod
#-----------------------------------------------------------------------------------------------------------------------

# Let people create new accounts outside auth provider
ENABLE_SIGNUP=true
DEFAULT_USER_ROLE=user

# Let users proxy model requests in other apps through the webui
ENABLE_API_KEY=false

# External auth provider
ENABLE_OAUTH_SIGNUP=false
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OPENID_PROVIDER_URL=
OAUTH_PROVIDER_NAME=
OAUTH_SCOPES=

# Changes name of webui on login screen
# WEBUI_NAME=

# Autocomplete spams the inference endpoints and eats up costs/compute
ENABLE_AUTOCOMPLETE_GENERATION=false

#-----------------------------------------------------------------------------------------------------------------------
# Dev
#-----------------------------------------------------------------------------------------------------------------------

# Leave these blank to default to the LiteLLM API key
OPENAI_API_BASE_URL=
OPENAI_API_KEY=

ENABLE_OLLAMA_API=false

# Disable the annoying update notifications
ENABLE_VERSION_UPDATE_CHECK=false

# This will just use up storage
RAG_EMBEDDING_MODEL_AUTO_UPDATE=false
RAG_RERANKING_MODEL_AUTO_UPDATE=false


OPEN_WEBUI_VERSION=ghcr.io/open-webui/open-webui:v0.8.5

