# Password for LiteLLM UI admin account - default username is 'admin'
LITELLM_MASTER_KEY=CHANGE_ME # <CHANGEME>

# Random value - make sure to change
LITELLM_SALT_KEY=CHANGE_ME # <CHANGEME>

OPENAI_API_BASE_URL=http://litellm:8000/v1
OPENAI_API_KEY=${LITELLM_MASTER_KEY}
