#-----------------------------------------------------------------------------------------------------------------------
# Prod
#-----------------------------------------------------------------------------------------------------------------------
# Certs for TLS
TRAEFIK_CERT_DIR=./certs/
TRAEFIK_CONF=./traefik/conf/
TRAEFIK_LOGS=./traefik/logs/

# Placeholders; Inherited from root .env file
# LITELLM_MASTER_KEY=
# LITELLM_SALT_KEY=

#-----------------------------------------------------------------------------------------------------------------------
# Dev
#-----------------------------------------------------------------------------------------------------------------------

# TODO: Add Langfuse back into the stack later
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

POSTGRES_USER=CHANGE_ME # <CHANGEME>
POSTGRES_PASSWORD=CHANGE_ME # <CHANGEME>
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@core-postgres:5432/litellm

# NOTE: LiteLLM sometimes pushes broken builds
#       This is a known working version
LITELLM_VERSION=ghcr.io/berriai/litellm-non_root:main-v1.73.6-stable

DB_VERSION=postgres:17.9
TRAEFIK_VERSION=traefik:v3.6
